<%- include(rootPath + "/views/layout/header.ejs") %>

<div class="row">
    <%- include(rootPath + "/views/layout/sidebar.ejs") %>
    <div class="offset-2 col-10 py-3">
        <h2>Welcome!</h2>
    </div>
</div>

<%- include(rootPath + "/views/layout/footer.ejs") %>