<div id="sidebar" class="col-2 vh-100 p-3 postion-fixed fixed-top">
    <h3 class="mb-4"><a href="/">Admin Panel</a></h3>
    <ul class="list-group">
        <li class="mb-1"><a href="/about" class="list-group-item list-group-item-action">About section</a></li>
        <li class="mb-1"><a href="/services" class="list-group-item list-group-item-action">Services section</a></li>
        <li class="mb-1"><a href="/skills" class="list-group-item list-group-item-action">Skills section</a></li>
        <li class="mb-1"><a href="/portfolio" class="list-group-item list-group-item-action">Portfolio section</a></li>
        <li class="mb-1"><a href="/statistics" class="list-group-item list-group-item-action">Statistics section</a></li>
        <li class="mb-1"><a href="/clients" class="list-group-item list-group-item-action">Clients section</a></li>
        <li class="mb-1"><a href="/socialmedia" class="list-group-item list-group-item-action">Social Medias section</a></li>
        <li class="mt-4"><a href="/contact" class="list-group-item list-group-item-action">Contact Form submits</a></li>
    </ul>
</div>